@font-face {
  font-family: "Helvetica LT Std Condensed Light";
  src: url(/fonts/HelveticaLTStd-LightCond.eot?9de3148b5800ce3ab6a7322c99d7cf1e);
  src: url(/fonts/HelveticaLTStd-LightCond.eot?9de3148b5800ce3ab6a7322c99d7cf1e) format("embedded-opentype"), url(/fonts/HelveticaLTStd-LightCond.woff?86c484467c75360a7ddd23219fb7638f) format("woff"), url(/fonts/HelveticaLTStd-LightCond.ttf?50a9d2d5f6b672b5d1c7502ae4e345d3) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url(/fonts/BebasNeueRegular.eot?e2d6cc795f6166f3982f295f822f2e59);
  src: url(/fonts/BebasNeueRegular.eot?e2d6cc795f6166f3982f295f822f2e59) format("embedded-opentype"), url(/fonts/BebasNeueRegular.woff?c12b731ad0dff9fa26ceac9bdc818693) format("woff"), url(/fonts/BebasNeueRegular.ttf?85b13a3b9a2208e1027c0cab883b501f) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Regular";
  src: url(/fonts/PTSans-Regular.eot?4282b06a63bae3fe5bfb990f16b7f3f2);
  src: url(/fonts/PTSans-Regular.eot?4282b06a63bae3fe5bfb990f16b7f3f2) format("embedded-opentype"), url(/fonts/PTSans-Regular.woff?db796e1aa9c0c602fb257f635da3b6cf) format("woff"), url(/fonts/PTSans-Regular.ttf?57b0a61ab1549c8c352153a477b3776b) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes navUp {
  0% {
    height: 10%;
    width: 20%;
  }

  10% {
    height: 10%;
    width: 40%;
  }

  20% {
    height: 10%;
    width: 60%;
  }

  30% {
    width: 80%;
  }

  40% {
    height: 10%;
    width: 100%;
  }

  50% {
    width: 100%;
    height: 20%;
  }

  60% {
    width: 100%;
    height: 40%;
  }

  70% {
    width: 100%;
    height: 60%;
  }

  80% {
    width: 100%;
    height: 80%;
  }

  90% {
    width: 100%;
    height: 90%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes navUp {
  0% {
    height: 10%;
    width: 20%;
  }

  10% {
    height: 10%;
    width: 40%;
  }

  20% {
    height: 10%;
    width: 60%;
  }

  30% {
    width: 80%;
  }

  40% {
    height: 10%;
    width: 100%;
  }

  50% {
    width: 100%;
    height: 20%;
  }

  60% {
    width: 100%;
    height: 40%;
  }

  70% {
    width: 100%;
    height: 60%;
  }

  80% {
    width: 100%;
    height: 80%;
  }

  90% {
    width: 100%;
    height: 90%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

html {
  font-size: 16px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.center {
  padding: 0 calc(50vw - 492.5px);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__title {
  color: #404040;
  font-family: "Bebas Neue Regular";
  font-weight: 800;
  font-style: normal;
  font-size: 2.313rem;
  text-transform: uppercase;
  transition: all 0.4s;
}

.logo__title:hover {
  color: #4c47ba;
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.logo__desc {
  color: #404040;
  font-family: "Arial";
  font-size: 0.938rem;
  font-weight: 400;
  text-transform: capitalize;
}

.header__logo {
  padding-top: 40px;
  margin-left: 35px;
}

.main-nav {
  margin-right: 25px;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  position: relative;
}

.main-nav__link {
  display: block;
  color: #404040;
  font-family: "Helvetica LT Std Condensed Light";
  font-size: 1.063rem;
  font-weight: 300;
  line-height: 1.188rem;
  text-transform: uppercase;
  padding: 52px 13px 10px;
  transition: all 0.4s;
  border-bottom: 2px solid transparent;
}

.main-nav__link:hover {
  border-bottom: 2px solid #4c47ba;
  color: #ffffff;
}

.main-nav__link-active {
  background-color: #4c47ba;
  color: #ffffff;
}

.background-nav {
  position: absolute;
  top: 0;
  background-color: #918ddb;
  transition: all 0.5s;
  z-index: -1;
}

.main-nav__item:hover .background-nav {
  -webkit-animation: navUp 0.3s 1 ease-in;
          animation: navUp 0.3s 1 ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #4c47ba;
}

.greeting {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border-bottom: 1px solid #f7f5f5;
}

.greeting__quota {
  opacity: 0.22;
  color: #404040;
  font-family: "Arial";
  font-size: 6.313rem;
  font-weight: 800;
  line-height: 2.25rem;
}

.greeting__text {
  position: relative;
  margin: 0 5%;
  text-align: center;
  max-width: 504px;
  color: #404040;
  font-family: Cambria;
  font-style: italic;
  font-size: 1.438rem;
  line-height: 2.25rem;
  box-shadow: 0px 25px 17px -26px rgba(34, 60, 80, 0.35);
}

.greeting__text::after {
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 40%;
  content: "";
  width: 106px;
  height: 84px;
  background: url(/images/pencil.png?aa02cbec8e0ed941a01dcd8f264e848b) no-repeat, url(/images/scale.png?206e123c6d98a69cc95b4cb96189f4e3) 59px no-repeat;
}

.page-name {
  margin-top: 20px;
  color: #404040;
  font-family: Cambria;
  font-style: italic;
  font-size: 1.438rem;
  line-height: 2.25rem;
  margin-left: 35px;
}

.news {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-item {
  width: 250px;
  margin: 10px;
  background-color: #4c47ba;
  border-radius: 5px;
  padding: 10px 0;
  transition: all 0.3s;
}

.news-item:hover {
  box-shadow: 0 0 10px 1px;
}

.news-item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-item__img {
  width: 100%;
  min-height: 50px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.news-item__title {
  margin-top: 10px;
  font-family: "Arial";
  font-size: 1rem;
  background-color: yellowgreen;
  padding: 5px;
  color: white;
  transition: all 0.3s;
  text-transform: uppercase;
  width: 100%;
}

.news-item__title:hover {
  transform: skew(0, -2deg);
}

.news-item__desc {
  color: white;
  text-align: center;
  margin-top: 10px;
  transition: all 0.3s;
}

.news-item__desc:hover {
  color: #f85656;
}

.news-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
}

.news-content__text {
  padding: 20px;
}

.category-news {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-news__item {
  width: 250px;
  margin: 10px;
  background-color: #4c47ba;
  border-radius: 5px;
  padding: 10px 0;
  transition: all 0.3s;
}

.category-news__item:hover {
  box-shadow: 0 0 10px 1px;
}

.category-news__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-news__item-img {
  width: 100%;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.category-news__item-title {
  margin-top: 10px;
  font-family: "Arial";
  font-size: 1.3rem;
  color: white;
  transition: all 0.3s;
  text-transform: uppercase;
}

.category-news__item-title:hover {
  color: #f85656;
}

.footer {
  flex-shrink: 0;
}

.about {
  background-color: #4c47ba;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 110px;
}

.about__team {
  max-width: 586px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about__figure {
  display: flex;
}

.about__photo {
  height: 123px;
  border: 7px solid #ffffff;
  margin-top: -57px;
  z-index: 1;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.about__figcaption {
  margin: 23px 0 0 28px;
}

.about__name {
  color: #ffffff;
  font-family: Cambria;
  font-style: italic;
  font-size: 1.563rem;
  line-height: 1.25rem;
}

.about__location {
  position: relative;
  color: #ffffff;
  font-family: "PT Sans Regular";
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 2.25rem;
  transition: all 0.3s;
}

.about__location .about-map {
  position: absolute;
  top: -400px;
  left: -135px;
  z-index: 1;
}

.about__location .about-map iframe {
  width: 0;
  height: 0;
}

.about__location:hover {
  color: #f85656;
}

.about__location:hover .about-map iframe {
  width: 500px;
  height: 500px;
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.about__location i {
  transition: all 0.3s;
}

.about__location:hover i {
  transform: rotate(-90deg);
}

.about__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__social a {
  color: #ffffff;
  font-size: 1.7rem;
  margin: 5px 5px;
  transition: all 0.3s;
}

.about__social a i {
  transition: all 0.3s;
}

.about__social a:hover i {
  transform: scale(1.2, 1.2);
  color: #f85656;
}

.about__desc {
  color: #ffffff;
  font-family: "PT Sans Regular";
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 30px 0;
}

.about__skils {
  display: flex;
  flex-direction: column;
  margin-left: 77px;
}

.skills__header {
  color: #ffffff;
  font-family: Cambria;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 2.25rem;
}

.skills__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skills__item {
  margin: 5px 0;
}

.skills__name {
  color: #ffffff;
  font-family: "PT Sans Regular";
  font-size: 1.188rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.copyright {
  background-color: #282828;
}

.copyright__text {
  text-align: end;
  opacity: 0.5;
  color: #ffffff;
  font-family: "PT Sans Regular";
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0 3%;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #918ddb;
  border-radius: 5px;
  padding: 50px;
}

.form__item {
  margin-top: 10px;
}

.form__input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.2);
}

.form__select {
  border-radius: 10px;
  padding: 10px;
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: white;
}

.form__label {
  display: flex;
  align-items: center;
}

.form__checkbox {
  margin: 0 10px;
  width: 15px;
  height: 15px;
}

.form__textarea {
  height: 150px;
  resize: none;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.2);
}

.form__button {
  width: 200px;
  margin-top: 50px;
  padding: 15px;
  border-radius: 6px;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  transition: all 0.4s;
}

.form__button:hover {
  background-color: #f85656;
  color: white;
}

.button-flex {
  display: flex;
  justify-content: space-between;
}

.button {
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.button-update {
  background-color: cadetblue;
}

.button-delete {
  background-color: brown;
}

@media all and (max-width: 670px) {
  .header__logo {
    padding: 40px 0 23px 0;
  }

  .main-nav {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    border-top: 1px solid #d0d0d0;
  }

  .main-nav__list {
    margin: 0 35px;
    display: flex;
    justify-content: space-around;
  }

  .main-nav__link {
    padding: 10px 13px;
  }

  .catalog__list {
    justify-content: space-around;
  }

  .about__team {
    flex-direction: column;
  }

  .about__location .about-map {
    top: -150px;
    left: -209px;
  }

  .about__location:hover .about-map iframe {
    width: 400px;
    height: 300px;
  }

  .about__social {
    order: 1;
    margin: 0 0 34px 0;
  }

  .about__desc {
    margin: 30px 5%;
  }
}

